.Background-1{
    background-attachment: fixed;
    height: 500px;
    background-image: url('Laptop1.png'),linear-gradient(rgba(127, 114, 114, 0.1),rgb(16, 16, 16,0.1));
    background-size: cover;
    text-align: center;
}

.Background-1-Heading{
    font-size: 60px;
    color: rgb(255, 234, 0);
    font-weight: 500;
}

.background-1-content1{
    font-size: 30px;
}
.background-1-subheading{
    font-size: 20px;
}


.buttonap{
    margin-top: 35px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #f39923;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #f5ae51;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .buttonap:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #f39923;
    z-index: -1;
  }
  
  .buttonap:hover, .buttonap:focus {
    color: white;
  }
  
  .buttonap:hover:before, .buttonap:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .buttonap:active {
    transform: scale(0.9);
  }