.Background-2{
    background-attachment: fixed;
    height: 300px;
    background-image: url('Laptop.png'),linear-gradient(rgba(127, 114, 114, 0.1),rgb(16, 16, 16,0.1));
    background-size: cover;
    text-align: center;
    display: flex;
    padding-left: 7%;
    padding-right: 70px;
}

.Background-2-Heading{
    display: flex;
    width:200px;
    height:200px;
    padding-right:100px;
}

.disp1{
  font-size:50px;
  font-weight: 800;
  width:100px;
  padding-top: 60px;
  text-align: left;
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
}
.disp2{
    font-size:25px;
    width:100px;
    font-weight: 500;
    padding-top: 60px;
    text-align: left;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
  }
.img4{
    width:80px;
    height:80px;
    margin-top:55px;
    margin-left: 50px;
    
}
.four{
    display: flex;
}
.spandisp{
    padding-top: 55px;
    display: inline;
    text-align: left;
}